<div class="side-panel">
    <div class="profile-img">

      <img [src]="userImage != ''? imageBaseUrl+ userImage : 'assets/imgs/no-image.png'">

      <div class="file btn btn-lg btn-primary"> Change Photo 
        <!-- <input type="file" name="file" /> -->
        <input id="tg-photogallery" class="tg-fileinput" (change)="onFileChange($event)" type="file"
                          name="profile_image" >
       </div>
    </div>
    <hr>
    <!-- <div class="profile-work">
      <p>WORK LINK</p><a href="">Website Link</a><br /> <a href="">Bootsnipp Profile</a><br /> <a href="">Bootply
        Profile</a>
      <p>SKILLS</p><a href="">Web Designer</a><br /> <a href="">Web Developer</a><br /> <a href="">WordPress</a><br />
      <a href="">WooCommerce</a><br /> <a href="">PHP, .Net</a><br />
    </div> -->
  </div>