.body-banner {
  background-color: #93d9e3;
  position: relative;
}
.body-banner22 {
  background-color: #ffffff;
  position: relative;
}
.body-banner32 {
  padding-top: 90px !important;
}
.lady-banner22 {
  background: url(../img/bg-girl_22.png) no-repeat 0 0;
  position: relative;
  background-attachment: fixed;
  min-height: 635px;
}
.lady-banner3 {
  background: #93d9e3 url(../img/bg-girl_3.jpg) no-repeat 0 0;
  position: relative;
  background-attachment: fixed;
  min-height: 635px; 
}
.lady-banner {
  background: url(../img/bg-girl.jpg) no-repeat 0 0;
  position: relative;
  background-attachment: fixed;
  min-height: 616px;
}

.lady-banner2 {
  background: #92d9e2 url(../img/bg-girl_2.jpg) no-repeat 0 0;
  position: relative;
  background-attachment: fixed;
  min-height: 616px;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.table-bordered2 {
  border: 1px solid #97c8d0;
  border-top: 1px solid #97c8d0 !important;
  box-shadow: 9px 8px 2px -3px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}


.lady-image {
  background: url(../img/wellcome-lady.png) no-repeat center bottom;
  min-height: 616px;
  background-size: contain;
}
.welcome-sec_2{ padding: 0px 0px 0px 63px;}
 .logo-sec img {
  width: 34%;
  margin: 165px auto 0% auto;
  display: block;
  padding: 0px;
}
.logo-sec22 img {
  width: 75%;
  margin: 54px auto 0% 18%;
  display: block;
  padding: 0px;
}
.font-icon{ background: #c8be04; color: #ffffff;}

.welcome-sec{}
.welcome-sec2{ margin-right:30px;}
.welcome-sec .prev-btn{
  background: url(../img/wel_prev-btn.png) no-repeat center bottom;
  border: 0px;
  color: #2f5a61;
  padding: 19px 29px 3px 29px;
  font-size: 11px;
  top: 47px;
  position: relative;
  z-index: 999;
  left: 31%;
   }
   .welcome-sec .next-btn{
    background: url(../img/wel_next-btn.png) no-repeat center bottom;
    border: 0px;
    color: #2f5a61;
    padding: 9px 35px 11px 35px;
    font-size: 11px;
    bottom: 52px;
    position: relative;
    z-index: 999;
    left: 31%;
     }
.welcome-sec h4 {
  text-align: right;
  display: block;
  color: #0a0a0a;
  font-size: 21px;
  line-height: 35px;
  font-weight: normal;
  margin-top: 24px;
}
.welcome-sec h5 {
  text-align: right;
  display: block;
  color: #0a0a0a;
  font-size: 22px;
  line-height: 35px;
  font-weight: 600;
  margin-right: 0px;
  padding-top: 46px;
}

.welcome-sec h2 {
    text-align: center;
    display: block;
    color: #707070;
    line-height: 13px;
    font-size: 61px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 13%;
}

.market-scrool {
  margin: 0;
  padding: 0;
  padding-top: 7px;
}


.market-scrool li {
  list-style: none;
  display: initial;
  margin: 0 7px;
  font-size: 23px;
}

.market-scrool li a {
  font-weight: bold;
}

.market-scrool li a i {
  padding: 6px 0px;
  display: inline-block;
  border-radius: 100%;
  height: 27px;
  width: 27px;
  color: #ffffff;  
  text-align: center;
  border: 2px solid #92d9e2;
  line-height: 9px;
}

.market-scrool .red a {
  color: #DC2028;
}
.market-scrool .red a i{
  color: #ffffff;
  background: #DC2028;
}
.market-scrool .green a {
  color: #4CD964;
}
.market-scrool .green a i {
  color: #ffffff;
  background: #4CD964;
}

.market-scrool .yellow a {
  color: #f5cf0c;
}

.body-banner .fixed-button {
  background: #EEF9FA;
  padding: 27px 46px;
  position: fixed;
  right: -69px;
  z-index: 99;
  top: 43%;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  border-radius: 120px 120px 0 0;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #403232;
  border: 1px solid #929090;
  box-shadow: 3px -2px 30px 0px rgba(0, 0, 0, 0.19);
  font-size: 39px;
}


.social li img {
  width: 25px;
  margin-top: 6px;
}

.border-box ul li {
  position: relative;
}

.border-box ul li:before {
  content: "";
  background-color: black;
  position: absolute;
  top: 13px;
  right: 0;
  height: 16px;
  width: 1px;
}

.social li:before {
  display: none;
}

.bg-derk .market-scrool {
  background: #639096;
  position: fixed;
  z-index: 9999;
}
.bg-derk .market-scrool_2 {
  background: #ffffff;
  border-bottom: #4c96a1 1px solid; 
}

.navbar {
 padding: 0px 0px;
}
.back-to-btn{
  margin-top: 7px;
  }
/*
.lady-image-full {   background: url(../images/girl.png) no-repeat center bottom;
    min-height: 629px;
    background-size: contain;  }*/

.btn-sce .btn-start {
  position: absolute;
  right: 0;
  top: 20%;
  width: 26%;
}
.pro-user{}
.pro-user .profile-sec {
  margin-top: 0%;
}
.pro-user .profile-sec .profile-image {
  margin-top: 0%;
}

.pro-user2{}
.pro-user2 .profile-sec {
  margin-top: 31%;
}
.pro-user2 .profile-sec .profile-image {
  margin-top: 26%;
}

.btn-sce2 .btn-start {
  position: absolute;
  right: 0;
  top: 21%;
  left: 58%;
  width: 22%;
}

.full-lady {
  margin-top: 10%;
}

.inner-search .logo-small {
  width: 140px;
  /* margin-top: 7px; */
  position: absolute;
  right: 23px;
  top: 10px;
}

.product-section li {
  background: #fff;
  border-radius: 70px;
  width: 325px;
  padding: 42px 21px;
  margin-bottom: 4px;
  position: relative;
  border: #61abb5 1px solid;
}

.product-section5 li {
  background: #fff;
  border-radius: 36px;
  width: 438px;
  padding: 70px 21px;
  margin-bottom: 4px;
  position: relative;
  border: #61abb5 0px solid;
}



.product-section .product-img {
  padding: 0px;
  margin: 0px 15px 0px 0px;
  border: #93d9e394 3px solid;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
  float: left;
}

.product-section .product-img img {
  width: 100%;
  height:100%;
  margin: 0px;
 }

 
.product-section5 .product-img {
  padding: 0px;
  margin: 0px 15px 0px 0px;
  border: #93d9e394 3px solid;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  overflow: hidden;
  float: left;
}

.product-section5 .product-img img {
  width: 100%;
  height:100%;
  margin: 0px;
 }

.product-section li h3 {
  color: #DC2028;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  padding: 11px 0px;
  line-height: 26px;
}
.product-section2 {
  position: relative;
  height: 250px !important;
  padding: 7px 15px;
  margin-bottom: 15px;
}

.product-section2 li h3 {
  color: #DC2028;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  padding: 14px 0px;
  line-height: 32px;
}

.product-section5 li h3 {
  color: #DC2028;
  font-weight: bold;
  font-size: 42px;
  cursor: pointer;
  padding: 9px 0px;
  line-height: 56px;
}


.daily-deal {
  margin-top: -1%;
  margin-left: 15%;
}

.daily-deal h2 {
  color: #4C4D49;
  font-size: 41px;
  line-height: 53px;
  font-weight: bold;
}

.product-todays-special {
 min-height: 200px;
}

.download-app {
  background: #00800057;
  top: 425px;
  padding: 27px 5px;
  position: fixed;
  left: 0;
  z-index: 99;
  color: #C4E286;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0 50px 50px 0;
  z-index: 999;
  width: 172px;
}

.contact-btn {
  background: #cac460e8;
  bottom: 30px;
  padding: 27px 5px;
  position: fixed;
  left: 0;
  z-index: 99;
  color: #172103;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0 50px 50px 0;
  z-index: 999;
  width: 172px;
}

.body-banner .inner-page {
  background: #fffc;
  width: 98%;
  z-index: 99;
  border-radius: 7px;
  padding: 23px;
  -webkit-box-shadow: 1px 9px 30px 11px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 1px 9px 30px 11px rgba(0, 0, 0, 0.22);
  box-shadow: 1px 9px 30px 11px rgba(0, 0, 0, 0.22);
  margin: 60px auto 0px auto;
}

.body-banner .inner-page h2 {
  font-size: 25px;
  font-weight: bold;
  color: #4C4D49;
}

.body-banner .inner-page p {
  font-size: 14px;
}
.body-banner22 {
  padding-top: 90px !important;
}
.body-banner {
  padding-top: 140px;
}
.body-banner3 {
  padding-top: 61px;
}

.hedder-main {
  position: fixed;
  z-index: 999;
  width: 100%;
}

.body-banner .inner-page .inner-logo {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.background-images {
  background: url(../img/serach-bg.jpg) repeat-x;
}

.width10put-grou0 .inp-text {
  font-size: 18px;
  padding: 0 62px 0 9px;
  width: 200px; 
  text-align: right;
  font-weight: bold;
}

.sign-up-body {
width:40%;
}

.card-body-full {
  margin: 0 auto;
  border-radius: 63px;
}

.card-body-full .form-check-label {
  font-size: 12px;
}

.rounded-pill textarea {
  border-radius: 0 31px 31px 0;
}

.rounded-pill input {
  border-radius: 50px;
  height: 54px;
}

.rounded-pill2 .text-dark2{
  width: 146px;
  padding-left: 19px;
  color: #ffffff !important;
}

.rounded-pill2 input {
  height: 40px;
}
.rounded-pill.search-input {
  background: #17a2b8;
}

.input-group>.form-control:not(:first-child),
.input-group>.custom-select:not(:first-child) {
  // border-top-left-radius: 50px;
 //  border-bottom-left-radius: 50px;
  border-radius: 0px 50px 50px 0px;
}

.rounded-pill .input-group-text {
  border-radius: 50px;
}

.rounded-pill select {
  border-radius: 0 31px 31px 0;
}

.rounded-pill .input-group-text {
  border-radius: 31px 0 0 31px;
}

.rounded-pill select::after {
  background: red
}

.border-radius {
  border-radius: 30px;
}

.bg-info {
  border: none;
}

.card-body-full button {
  background: #17a2b8;
  transform: rotate(90deg);
  padding: 6px 0;
  border-radius: 60px 60px 0 0;
  width: 153px;
  border: 0;
  position: absolute;
  right: -92px;
  top: 45%;
  font-size: 11px;
}

.card-body-full .card-header {
  border-radius: 60px 60px 0 0;
}

.card-body-full .resend-btn {
  border-radius: 30px;
  padding: 5px 14px;
  font-size: 10px;
  text-align: right !important;
  position: absolute;
  right: 24px;
}

.logo-small-team {
  width: 95px;
}

.team h2 {
  font-size: 15px !important;
}
.body-banner .inner-search22 {
  background: #92d9e2 url(../img/vegetables_bg.jpg) repeat-x 0 0 !important;
 }
 .body-banner22{ 
   padding-top: 100px;
   background-color: #93d9e3;
}
.full-lady32 {
  margin-top: 2%;
}
 .topsear{}
 .topsear h2{ 
  font-size: 34px;
  font-weight: bold;
  margin: 23px 10px;
  padding: 0px 0px;
  line-height: 22px;
  float: left;
  }
 .topsear .topsear-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  border: #74ced8 3px solid;
}
.topsear .topsear-img img{
  width: 100%;
  height: 100%;
}

.body-banner .inner-search {
  background: #92D9E280;
  width: 100%;
  z-index: 9999;
  border-radius: 7px;
  padding: 13px 40px 13px 40px;
  position: fixed;
  top: 102px;
  -webkit-box-shadow: 1px 9px 30px 11px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 1px 9px 30px 11px rgba(0, 0, 0, 0.22);
  box-shadow: 1px 9px 30px 11px rgba(0, 0, 0, 0.22);
}
 .inner-search .bg-info {
  background-color: #caf5f8 !important;
  font-size: 22px;
  color: #4c4d49;
  font-weight: bold;
  padding: 0px 56px 0px 31px;
  border: 0px;
}
.inner-search .bg-info2 {
  background-color: #ffffff !important;
  font-size: 22px;
  color: #4c4d49;
  font-weight: bold;
  padding: 4px 31px 4px 31px;
  border: 0px;
  margin-top: 38px;
  margin-right: 10px;
}
.inner-search .bg-info2:hover {
  background-color: #caf5f8 !important;
 }
.inner-search p {
  font-weight: bold;
 
}
.form-control22 {
  border-radius: 6px  !important;
  margin: 0px !important;
  border: 0px;
  padding: 12px;
  font-size: 22px;
  font-weight: bold;
}
.inner-search .input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
  border-radius: 50px;
  margin-left: -29px;
  border: 0px;
  height: 61px;
  font-size: 22px;
  font-weight: bold;
}
.inner-search .input-group ::placeholder {
  color: #d8d9d5;
  opacity: 1; /* Firefox */
}

.inner-search .input-group :-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #d8d9d5;
}

.inner-search .input-group ::-ms-input-placeholder { /* Microsoft Edge */
 color: #d8d9d5;
}

.subscribe {
  background: #fff;
  padding: 3px 25px;
  font-size: 18px;
  border-radius: 20px;
  float: right;
  color: #4c4d49 !important;
  margin-left: 10px;
  font-weight: bold;
}

.search-input input {
  // border
}

.cta-100 {
  margin-top: 100px;
  padding-left: 8%;
  padding-top: 7%;
}

.mt {
  float: left;
  margin-top: -20px;
  padding-top: 20px;
}

.bg-blue-ui {
  background-color: #fff !important;
}

figure img {
  width: 300px;
}

#blogCarousel {
  padding-bottom: 100px;
}

.blog .carousel-indicators {
  left: 0;
  top: -50px;
  height: 50%;
}


/* The colour of the indicators */

.blog .carousel-indicators li {
  background: #708198;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background: #0fc9af;
}

.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: 100px;
}

.item-box-blog-date {
  position: absolute;
  z-index: 5;
  padding: 4px 5px;
  bottom: 13px;
  left: 25%;
  border-radius: 20px;
  width: 53%;
}

.item-box-blog-date span {
  color: #000;
  display: block;
  text-align: center;
  line-height: 1.2;
}

.item-box-blog-date span.mon {
  font-size: 10px;
}

.item-box-blog-date span.day {
  font-size: 16px;
}

.item-box-blog-body {
  text-align: center;
}

.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration: none;
  transition: color 0.3s;
}

.item-box-blog-heading a {
  text-decoration: none;
  color: #000;
}

.item-box-blog-data p {
  font-size: 13px;
}

.item-box-blog-data p i {
  font-size: 12px;
}

.item-box-blog-text {
  max-height: 100px;
  overflow: hidden;
}

.mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.pt-50 {
  padding-top: 50px;
}

.btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
  box-shadow: 0px 5px 15px inset #4d5f77;
}

// .product-section {
//     margin-top: 26%;
// }
.product-top {
  margin-top: 26%;
}

.item-box-blog {
  background: #fff;
  padding-bottom: 6px;
  margin-bottom: 10px;
}

.item-box-blog figure {
  margin-bottom: 0;
}

.recipe-sec {
  padding-bottom: 10px;
  border-bottom: 5px solid #626060;
}
.recipe-sec2 {
  margin-top: 19%;
}

.recipe-sec h2 {
  text-align: center;
  border: 2px solid #787878;
  width: 162px;
  font-size: 17px;
  padding: 7px;
  margin: 8px auto;
  background: #fff;
}

.recipe-of-month {
  background: #FFFFFF80;
  margin-top: 6%;
  padding: 10px;
  border-radius: 20px;
  position: relative;
}

.recipe-of-month span {
  background: #fff;
  padding: 10px;
  border-radius: 33px;
  position: absolute;
  left: 39%;
  font-weight: bold;
  font-size: 13px;
  color: #504e4e;
  top: -20px;
}

.recipe-of-month .col-md-3 figure {
  text-align: center;
  display: block;
}

.recipe-of-month .col-md-3 figure img {
  border-radius: 100%;
}

.recipe-of-month .col-md-3 figure h2 {
  font-size: 16px;
  font-weight: bold;
}

.recipe-of-month .row {
  margin-top: 30px;
}

.magin-top150 {
  margin-top: 150px;
}

.product-section-list {
  margin-top: 200px;
}

.product-section-list h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #4e4d4d;
}

.card-box {
  background: #fff;
  border: 1px solid #CAF5F8;
  padding: 10px;
  border-radius: 23px;
  margin-bottom: 30px;
  -webkit-box-shadow: 3px 2px 21px -2px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 3px 2px 21px -2px rgba(0, 0, 0, 0.59);
  box-shadow: 3px 2px 21px -2px rgba(0, 0, 0, 0.59);
}

.card-box span {
  display: block;
  color: #4982D0;
  font-size: 15px;
}

.card-box span i {
  //color: #FFC107;
  font-size: 20px;
}

.card-box .veg {
  background: #8CF82380;
  padding: 7px 10px;
  position: absolute;
  left: 3px;
  border-radius: 0 30px 30px 0;
  color: green;
  bottom: 8px;
}

.img-btm a {
  display: inline-grid;
  padding: 5px;
  font-size: 11px;
  height: 46px;
  border-radius: 15px;
  color: #fff !important;
  line-height: 13px;
  font-weight: bold;
  text-align: center;
  width: 45%;
  float: left;
  margin: 3px;
}

.img-btm img {
  margin: 0 auto;
  display: block;
  border-radius: 100%;
  width: 130px;
  height: 130px;
  border: 5px solid #0000000f;
}

.img-btm a span {
  color: #fff;
  font-size: 12px;
}

.img-btm .price {
  background: #E1929E;
}

.img-btm .language {
  background: #92D9E1;
}


/*rating-star*/

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
  position: absolute;
  width: 175px;
  display: inline-flex;
}

.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked)>label:before {
  content: '★ ';
}

.rate>input:checked~label {
  color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  color: #c59b08;
}

.recipe-list {
  margin-bottom: 50px;
}

.list-group-horizontal .list-group-item {
  display: inline-block;
}

.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left: -4px;
  margin-right: 0;
}

.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}

.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
}

.list-filter {
  display: inline-flex;
}

.list-filter .filter-item {
  padding: 9px 10px;
  background: #ffffff80;
  border-radius: 26px;
  border: 2px solid #72727266;
}

.list-filter .filter-item a {
  color: #626262;
  font-weight: bold;
  padding: 0 25px;
}

.list-filter h3 {
  color: #626262;
  font-weight: bold;
  margin: 0;
  margin-right: 0px;
  background: #fff;
  padding: 10px;
  border-radius: 50px;
  font-size: 19px;
  margin-right: 10px;
}

.headline-filter {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #4e4d4d;
}

.image-details {
  text-align: center;
  margin: 0px auto 19px auto;
}

.image-details h2 {
  text-align: center;
  display: block;
  color: #535353;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  margin: 0px 0px;
  padding: 0px  0px;

}

.image-details span {
  text-align: center;
  display: block;
  line-height: 43px;
}

.image-details img {
  margin: 0 auto;
  display: block;
  border-radius: 100%;
  width: 130px;
  height: 130px;
  border: 5px solid #0000000f;
}

.bg-light {
  background: #fff;
  width: 100%;
}

.text-primary p {
  color: #666767;
}

.details-text h2 {
  font-size: 25px;
}

.details-text .mat-list-item-content {
  padding: 0 !important;
  font-weight: 500;
  color: #a5a5a5;
}

.details-text li {
  list-style: circle;
}

.details-text {
  padding: 35px;
}

.text-btn a {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 82px;
  padding: 13px;
  border-radius: 15px;
}

.head-logo img {
  width: 75px;
  margin-top: -7px;
  padding-top: 2px;
  cursor: pointer;
}

.text-btn .price {
  background: #E1929E;
}

.text-btn .language {
  background: #92D9E1;
}

.rating-sec {
  margin: 0 auto;
  display: block;
  height: 200px;
}

.rating-sec .rate {
  margin: 0 auto;
  position: relative;
  float: none;
  width: 360px;
  display: block;
  text-align: center;
}

.rating-sec .rate a {
  color: #FFC107;
  font-size: 48px;
  margin: 4px;
}

.rating-sec .rate label {
  font-size: 60px;
}

.submit-btn a {
  background: #fff;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #000;
  height: 100px;
  width: 100px;
  vertical-align: middle;
  border-radius: 100%;
  line-height: 89px;
  color: #5d5b5b;
  font-weight: bold;
  font-size: 15px;
  -webkit-box-shadow: 11px 15px 27px -5px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 11px 15px 27px -5px rgba(0, 0, 0, 0.50);
  box-shadow: 11px 15px 27px -5px rgba(0, 0, 0, 0.50);
}

.submit-btn .price {
  border: 5px solid #EF2020;
}

.submit-btn .language {
  border: 5px solid #0FEF32;
}

.submit-btn .trivia {
  border: 5px solid #6caff8;
}

.details-text .rate-racipy {
  display: block;
  text-align: center;
  background: #92d9e2;
  padding: 10px;
  font-size: 19px;
  width: 248px;
  border-radius: 8px;
  margin: 24px auto;
}

.write-review-btn {
  background: #008000a3;
  bottom: 72px;
  padding: 8px 5px;
  position: fixed;
  left: 0;
  z-index: 99;
  color: #C4E286;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0 50px 50px 0;
  z-index: 999;
  width: 124px;
}

.inform-btn {
  background: #92d9e2;
  padding: 17px 22px;
  position: fixed;
  right: 0;
  z-index: 99;
  top: 70%;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px 0 0 10px;
  width: 13%;
  text-align: center;
}

// .inform-btn span {
//     font-size:12px;
// }
.back-btn {
  background: #92d9e2;
  padding: 17px 22px;
  position: fixed;
  right: 0;
  z-index: 99;
  top: 80%;
  color: #fff !important;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px 0 0 10px;
  width: 13%;
  text-align: center;
  cursor: pointer;
}

// .back-btn span {
//     font-size:12px;
// }
.submit-review-btn {
  background: #CAF5F8;
  padding: 17px 21px;
  position: fixed;
  right: 0;
  z-index: 99;
  top: 70%;
  color: blue;
  font-size: 25px;
  font-weight: bold;
  border-radius: 50px 0 0 50px;
}

.rating-sec textarea {
  margin: 0 auto;
  display: block;
  width: 70%;
  border-radius: 15px;
  height: 200px;
  border: 2px solid #707070;
}

.thakyou-sec {
  min-height: 560px;
}

.thank-you-text h3 {
  text-align: center;
  display: block;
  font-size: 125px;
}

.thank-you-text {
  width: 100%;
}

.thank-you-text a {
  background: #fff;
  color: #4C4D49;
  padding: 8px 56px;
  border-radius: 31px;
  font-weight: bold;
  font-size: 26px;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 182px;
}

.pading-top-sec {
  margin-top: 13%;
}
.profile-sec{ margin-top: 22%;}
.profile-sec .profile-image {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  border: 1px solid #8a8787;
  margin-top: 20%;
}

.profile-sec h3 {
  font-size: 19px;
  padding-left: 10px;
}

.back-to-btn a {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  border-left: 2px solid #000;
  padding: 6px;
  transition: all .40s ease-out;
}

.back-to-btn a:first-child {
  border: none;
  cursor: pointer;
}

.back-to-btn a:nth-child(2) {
  font-size: 20px;
  color: #a2a2a2;
  cursor: pointer;
}

.back-to-btn a:hover {
  background: #eaeaea;
  transition: all .40s ease;
}

.profile-sec a {
  text-align: left;
  float: right;
  background: #CAF5F8;
  border: 1px solid #ced7d8;
  padding: 1px 15px;
  color: #868585;
  font-weight: bold;
  border-radius: 15px;
  margin-left: 12px;
  font-size: 12px;
}

.daily-deal .logo-small {
  width: 173px;
  float: right;
  margin-right: 3%;
}

.list-style li {
  line-height: 44px;
  font-size: 23px;
  text-align: right;
}

.start-btn img {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 117px;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

ul.list-style {
  margin-top: 50px;
}

.product-section-y .product-img img {
  width: 100px;
}

.product-section-y h3 {
  font-size: 12px;
  color: red;
}

.product-section-y {
  margin-top: 25px;
}

.product-section-y .carousel-item {
  border: 3px solid #5f5f5f;
  border-radius: 10px;
}

.submit-review-right {
  background: #CAF5F8;
  padding: 15px 8px 15px 19px;
  position: fixed;
  right: 0;
  z-index: 99;
  font-size: 13px;
  font-weight: 500;
  border-radius: 50px 0 0 50px;
  border: 1px solid #a7a7a7;
  width: 143px;
  color: #000;
  border-right: none;
}

.top-80 {
  top: 551px;
}

.top-73 {
  top: 495px;
}

.top-66 {
  top: 439px;
}

.top-59 {
  top: 383px;
}

.top-52 {
  top: 327px;
}

.top-45 {
  top: 271px;
  z-index: 9999;
}

.error-msg span {
  text-align: center;
  color: #FF0000;
}


/* Shopping User */

.shopping-user {
  background: #FFF0;
  margin-top: 36%;
  padding: 10px 0px;
  position: relative;
  min-height: 250px;
  text-align: center;
  margin-bottom: 2%;

}

.shop-box {
  background: #8BD3DD;
  padding: 0px;
  margin: 0px 6px;
  border-radius: 70%;
  width: 127px;
  height: 127px;
  float: left;
  cursor: pointer;
  box-shadow: 1px 1px 3px 4px rgba(0, 0, 0, 0.2);
}

.shop-box h3 {
  font-size: 16px;
  color: #0B0B0B;
  line-height: 30px;
  text-align: center;
  margin: 0px 0px;
  padding: 46px 0px 0px 0px;
}

.guestshop {
  background: #fff0;
  padding: 0px;
  margin: 0px 6px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.guestimg {
  background: #ffffff;
  padding: 0px 0px;
  margin: 0px 0px 8px 0px;
  border-radius: 70%;
  width: 110px;
  height: 110px;
  border: #63c9d4 3px solid;
}

.guestimg img {
  width: 80px;
  display: block;
  text-align: center;
  height: 79px;
  margin: 17px auto;
  border-radius: 70%;
}

.shopping-veg {
  background: #FFF0;
  margin-top: 0%;
  padding: 0px 15px;
  position: relative;
  height: 357px;
  overflow-y: scroll;
  margin-bottom: 2%;
}

.shopping-veg h2 {
  font-size: 29px;
  color: #51b5c2;
  line-height: 15px;
  text-align: center;
  margin: 0px 0px 37px 0px;
  padding: 14px 0px 19px 0px;
  background: #ffffff;
  position: fixed;
  z-index: 99;
  width: 61%;
}
.margin-top2{margin-top: 62px;
}
.recipe-list h2 {
  font-size: 29px;
  color: #000;
  line-height: 15px;
  text-align: center;
  margin: 0px 0px 37px 0px;
  padding: 19px 0px;
  background: #ffffff;
  position: fixed;
  z-index: 99;
  width: 68.4%;
}

.shopping-veg .rate:not(:checked)>label {
  float: left !important;
  font-size: 23px !important;
}

.shopping-veg .img- tm a {
  padding: 10px !important;
}

.shopping-veg .img-btm a span {
  font-size: 10px !important;
}

.shopping-veg .card-box span {
  font-size: 13px;
}

.card-box .sold {
  background: #f30b0b4d;
  padding: 7px 10px;
  position: absolute;
  left: 3px;
  border-radius: 0 30px 30px 0;
  color: #f30b0b;
  bottom: 8px;
}

.card-box .limited {
  background: #E3C02D4D;
  padding: 7px 18px;
  position: absolute;
  left: 3px;
  border-radius: 0 30px 30px 0;
  color: #8E750B;
  bottom: 8px;
}
.order-history2{
  min-height: 500px !important;
}

.order-history {
  background: #FFF0;
  margin-top: 6%;
  padding: 0px 15px;
  position: relative;
  height: 357px;
  margin-bottom: 20px;
  overflow-y: scroll;
}
.order-history .table-bordered th, .table-bordered td {
  border: 1px solid #97c8d0;
  background: #baf1f9;
 }
.order-history .bg-info {
  background-color: #17a2b8 !important;
  color: #ffffff !important;
  width: 100px;
  }
  .order-history .bg-info:hover {
    color: #ffffff !important;
     }
.order-history .btn2 {
      background-color: #17a2b8 !important;
      color: #ffffff !important;
      width: 77px;
      padding: 8px 12px !important;
      height: 26px;
      line-height: 6px;
      font-size: 12px;
      margin-bottom: 15px;
  }
.order-history .btn2:hover {
        color: #ffffff !important;
         }     

.product-section {  
  position: relative;
  height: auto;
  padding: 0px 0px;
  // overflow-y: scroll;
  border-radius: 20px;
  border: #fff 0px solid;
  width: 387px;
}

.product-section5 {
  position: relative;
  min-height: 280px;
  padding: 0px 0px;
  overflow-y: scroll;
  border-radius: 35px;
  border: #fff 0px solid;
  width: 457px;
}

.recipe-list {
  position: relative;
  height: 380px;
  padding: 0px 21px 7px 21px;
  overflow-y: scroll;
  margin-top: 9%;
}

.order-history p {
  font-size: 15px;
  color: #0B0B0B;
  line-height: 15px;
  text-align: left;
  margin: 7px 15px;
  padding: 0px 0px;
}

.chartjs-render-monitor {
  //margin-top: 25%;
}

.order-history h3 {
  font-size: 29px;
  color: #0B0B0B;
  text-align: left;
  position: fixed;
  margin: 0px 0px;
  padding: 6px 12px;
  z-index: 99;
  width: 61%;
  background: #fff;
}

.order-history h5 {
  font-size: 18px;
  color: #0B0B0B;
  text-align: left;
  margin: 0px 0px;
  padding: 0px 0px;
  float: left;
}
.order-history h5 span {
  font-size: 14px;
  color: #0B0B0B;
  margin: 0px 0px;
  font-weight: 400  !important;
  float: left;
}
.order-history .mat-list-item-content {
  padding: 0 0px 15px 0px !important; 
}

.order-history h2 {
  font-size: 24px;
  color: #196CDF;
  text-align: left;
  margin: 0px 0px;
  padding: 0px 0px;
  font-weight: 300;
}

.order-history h2 span {
  font-size: 17px;
  font-weight: 600;
}

.order-history .ptext {
  font-size: 12px;
  color: #196CDF;
  text-align: left;
  margin: 0px 0px;
  padding: 0px 0px;
  font-weight: 600;
}

.order-history h4 {
  font-size: 16px;
  color: #196CDF;
  text-align: left;
  margin: 0px 0px;
  padding: 0px 0px;
  font-weight: 600;
}

.order-history h4 span {
  font-size: 12px;
  font-weight: 600;
}
.order-section:first-child {
  margin-top: 68px;
}
.profile_box{ margin: 0px 0px; padding: 12px; border:#efefef 1px solid; border-radius: 11px; overflow: hidden;}
.profile_text1{ margin: 0px 0px; padding: 12px; float: left; width: 49%; border: #ccc 0px solid;}
.profile_text_1{ margin: 0px 0px; padding: 12px; float: left; width: 57%;}
.profile_text_2{ width: 43% !important; text-align: right;}
.profile_text1 p{
   margin: 0px 0px; 
   padding: 0px;
   font-size: 16px;
   color: #4a82d0;
   font-weight: 600;
  } 
  .profile_text1 p span{
    font-size: 13px;
   } 

  .profile_text1 h2{
    margin: 0px 0px; 
    padding: 0px;
    font-size: 26px;
    line-height: 42px;
    color: #4a82d0;
    font-weight: 600;
   } 
   .profile_text1 h2 span{
    font-size: 46px;
    font-weight: bold;
    margin-top: 25px;
    float: left;
   } 

   .profile_text1 h4{
    margin: 0px 0px; 
    padding: 0px;
    font-size: 22px ;
    color: #4a82d0;
    font-weight: 600;
   }

.profile_text2{ margin: 0px 0px; padding: 4px; float: left; width: 36%; border: #ccc 0px solid;}
.profile_text2 h4{
  margin: 0px 0px; 
  padding: 0px;
  float: left;
  width: 49%;
  font-size: 22px ;
  color: #4a82d0;
  font-weight: 600;
   }
   .profile_text2 h2{
    margin: 0px 0px; 
    padding: 0px;
    font-size: 22px ;
    float: left;
    width: 40%;
    color: #4a82d0;
    font-weight: 600;
     }
.profile_text3{ margin: 0px 0px; padding: 4px; float: left; width: 90%; border: #ccc 0px solid;}

.profile_text3 h2{
  margin: 0px 0px; 
  padding: 0px 0px 0px 106px;
  font-size: 22px ;
  color: #4a82d0;
  font-weight: 600;
 }
 .cart_order{ 
  margin: 15px 0px; 
  padding: 12px; 
  border:#efefef 1px solid; border-radius: 11px;
  overflow: hidden;
  }
  .cart_order .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #4a82d0;
}
.order_logo{
  width: 163px;
  margin: 45px 61px 0px 0px;
  padding: 0px;
  float: right;
}
.order_logo img{
  width: 100%;
}
  .cart_order .proimg2{ 
    width: 80px;
    height: 80px;
    border-radius:50%;
    float: left;  
    overflow: hidden;
    border: #a7dce0 2px solid; 
  }
  .cart_order .proimg2 img{ 
    width: 100%;
    height: 100%;
     }
  .cart_order .table th, .table td {
      padding: 0.75rem;
      vertical-align: middle;
      border-top: 0px solid #dee2e6;
  }

 .btn-print {
      display: inline-block;
      font-weight: 400;
      color: #212529;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 8px 22px;
      font-size: 31px;
      width: 267px;
      margin-top: 22px;
      font-weight: 500;
      background: #d0e5e8 !important;
  }
  .btn-print:hover {
    background: #a5dfe7 !important;
   }
   .btn-continue {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 8px 22px;
    font-size: 31px;
    width: 267px;
    font-weight: 500;
    margin-top: 22px;
    margin-left: -53px;
    background: #92d9e2 !important;
}
.btn-continue:hover {
  background: #76d4e0 !important;
 }
 .btn-back {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 8px 22px;
  font-size: 31px;
  width: 267px;
  margin-top: 22px;
  margin-left: -53px;
  font-weight: 500;
  background: #3c8be3 !important;
}
.btn-back:hover {
background: #2c81e0 !important;
}




.proimg{ 
  width: 100px;
  height: 100px;
  border-radius:50%;
  float: left;  
  overflow: hidden;
  border: #a2a3a3 2px solid; 
}
.proimg img{ 
  width: 100%;
  height: 100%;
   }
  .order-img2 {
    width: 80px;
    height: 80px;
    float: left;
    border: #8febef 2px solid;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 18px;
  }
.order-img2 img{
  width: 100%;
}
.order-img3 {
  width: 80px;
  height: 80px;
  float: left;
  border: #8febef 2px solid;
  overflow: hidden;
  border-radius: 50%;
  margin-left: -38px;
}
.order-img3 img{
width: 100%;
}
.order-img4 {
  width: 80px;
  height: 80px;
  float: left;
  border: #8febef 2px solid;
  overflow: hidden;
  border-radius: 50%;
  margin-left: -38px;
}
.order-img4 img{
width: 100%;
}


.order-section {
  background: #f2ffff;
  margin: 0px 0px 28px 0px;
  padding: 10px 0px;
  position: relative;
  overflow: hidden;
  min-height: 257px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(197, 193, 193, 0.59);
  -moz-box-shadow: 0px 2px 4px 0px rgba(197, 193, 193, 0.59);
  box-shadow: 0px 2px 4px 0px rgba(197, 193, 193, 0.59);
}

.order-section2 {
  background: #dffbff;
}

.order-img {
  margin: 36px -50px 0px 14px;
  padding: 0px 0px;
  width: 79px;
  text-align: center;
  float: left;
}

.order-img img {
  width: 100%;
}

.favbtn-repeat-order {
  margin: 120px 0px 0px 0px;
  padding: 6px 34px;
  background: #5eac6a;
  border-radius: 0 34px 0px 0px;
  font-size: 19px;
  font-weight: 500;
  position: absolute;
  text-align: center;
  min-width: 25%;
  left: 0;
  color: #fff;
  cursor: pointer;
}

.favbtn {
  margin: 120px 0px 0px 0px;
  padding: 6px 34px;
  border-radius: 34px 0px 0px 0px;
  font-size: 19px;
  font-weight: 500;
  position: absolute;
  text-align: center;
  min-width: 25%;
  right: 0;
  background: #ccc;
}

.myfav {
  background: #0564E8;
}

.favbtn a {
  color: #fff;
  text-decoration: none;
}

.favbtn2 {
  margin: 40px 0px 0px 0px;
  padding: 6px 34px;
  background: #daf8fc;
  border-radius: 34px 0px 0px 0px;
  font-size: 19px;
  font-weight: 500;
  position: absolute;
  text-align: center;
  min-width: 85%;
}

.favbtn2 a {
  color: #7ec4cd;
  text-decoration: none;
}

.favourit-btn {
  margin: 0px 0px;
}

.favourit-btn a {
  text-align: right;
  float: right;
  background: #92d9e2;
  border: 1px solid #658b90;
  padding: 5px 15px;
  color: #ffffff;
  font-weight: 500;
  border-radius: 17px;
  line-height: 24px;
  font-size: 16px;
  margin: -33px 0px 0px 0px;
}

// css for toaster
#toast-container>div {
  opacity: 1;
}

.delete {
  color: #FF0000;
  float: right;
  cursor: pointer;
}

.pro-box {
  position: relative;
}

.heart-wishlist {
  position: absolute;
  top: 17px;
  left: 85%;
}

.not-favrate {
  cursor: pointer;
}

.favrate {
  color: #ffa500;
}

.count-btn {
  margin-top: 27px;
  width: 122px;
  border: 1px solid #17a2b8;
  border-radius: 50px;
}

.count-btn .input-number {
  border: none;
}

.count-btn button {
  border-radius: 100px;
  cursor: pointer;
}

.count-btn button i {
  color: #fff;
}


/* profile-edit */

.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}

.profile-img {
  text-align: center;
}

.profile-img img {
  width: 70%;
  height: 100%;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}

.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

.profile-head h5 {
  color: #4e4c4c;
  font-size: 14px;
  line-height: 15px;
}

.profile-head h6 {
  color: #0062cc;
}

.profile-head {
  background: #92d9e2;
  padding: 8px 12px;
  margin-bottom: 12px;
  border-radius: 13px;
}

.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}

.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}

.proile-rating span {
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.cat-body-banner{
  padding-top: 93px;
}
.cat2-body-banner {
  padding-top: 277px;
  }
.recipe1-body-banner {
    padding-top: 218px;
    }

.profile-head .nav-tabs {
  margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}

.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}

.profile-work {
  padding: 14%;
  margin-top: -15%;
}

.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}

.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}

.profile-work ul {
  list-style: none;
}

.profile-tab label {
  font-weight: 600;
}

.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}

.side-panel {
  background: #efefef;
  padding-top: 55px;
}

.fa-trash {
  color: #FF0000;
}

span.rating.active {
  color: #ff9800;
}

.social .user-name {
  background-color: #17a2b8;
  color: #fff !important;
  border-radius: 28px;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}

a.header-top-button {
  background-color: #17a2b8 !important;
  color: #fff !important;
  border-radius: 100% !important;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 7px 10px 7px;
  margin: 5px 6px !important;
  height: 35px;
  width: 35px;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #92d9e2;
  color: #000;
}

.date-sec h3 {
  font-size: 14px;
}

.product-table td img {
  margin: 0 auto;
  text-align: center;
  width: 140px;
  display: block;
  height: 140px;
  border-radius: 100%;
}

span.total-cart {
  position: absolute;
  font-size: 10px;
  background: red;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  text-align: center;
}

.back-submitbtn {
  margin: 2%;
}

.chart-show-monthly select {
  width: 40%;
}

.pro-search {
  cursor: pointer;
}

.disabled button {
  color: #fff;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.main-menu a {
  background: #eaeaea;
  margin: 0 4px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 19px;
}

.stock-price-change {
  position: absolute;
  top: 55px;
  left: 0%;
}

.price-trend-up {
    font-weight: bold;
    background: #ff6666;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border:none;
}

.price-trend-down {
    font-weight: bold;
    background: #64ff64;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border:none;
}

.price-trend-same {
  font-weight: bold;
  background: #fff200;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border:none;
}
.stock-price-change i {
    font-size:21px;
    color: #fff;
}
.sign-up{}
.sign-up p{
  color: #4c4d49;
  font-size: 40px !important;
  padding: 0px 0px;
  margin: 0px;
  }
  .sign-up
  .bg-info {
    background-color: #92d9e2 !important;
    border: 2px solid #cfcfcf;
}
.sign-up .card {
  border: 2px solid #a8a9aa;
}
.sign-up .card-body-full {
  margin: 0 auto;
  border-radius: 63px;
  width: 530px;
}

.cong-bg .card-body-full {
  margin: 0 auto;
  border-radius: 63px;
  width: 960px;
}
.cong-text{
  margin: 0px auto;
  border-radius: 63px;
  width: 589px;
  border: #000 0px solid;
}
.cong-text h2{
  margin: 0px auto;
  width: 100%;
  padding: 14px 0px 25px 0px;
  font-size: 23px !important;
  font-weight: 600px !important;
  text-align: left;
  overflow: hidden;
  line-height: 34px
}
.cong-text h3{
  margin: -16px 0px 6px 0px;
  width: 100%;
  padding: 0px;
  font-size: 23px !important;
  font-weight: bold;
  text-align: center;
}
.cong-logo{
  margin: 0px 0px;
  padding: 0px 0px;
  width: 99px;
  }
.cong-logo img{
    width: 100%;
    }
.sign-up .form-control {
  display: block;
  padding: 28px 0.75rem;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  color: #f1eeee;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #cfcfcf;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.sign-up .rounded-pill2 .text-dark2 {
  color: #4c4d49 !important;
  font-size: 24px;
  font-weight: 600;
}
.sign-up .rounded-pill2 .text-dark3 {
  color: #4c4d49 !important;
  font-size: 24px;
  font-weight: 600;
  width: 203px;
}

.sign-up .card-body-full button {
  background: #caf5f8;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 6px -6px;
  border-radius: 22px 22px 0 0;
  width: 243px;
  border: 0;
  position: absolute;
  right: -146px;
  top: 48%;
  font-size: 11px;
  border: #99a3a4 2px solid;
  color: #4c4d49;
  font-size: 22px;
  font-weight: bold;
}
.sign-up .form-check-input {
  position: absolute;
  margin-top: 4px;
  margin-left: -1.25rem;
}

.sign-up .btn3 {
  color: #4c4d49 !important;
  padding: 8px 68px;
  border: #99a3a4 2px solid;
  font-size: 29px;
  font-weight: bold;
  line-height: 43px;
}
  .sign-up .btn3:hover{
    color: #ffffff !important;
  }

  .sign-btn2 {
    background: url(../img/signbtn.png) no-repeat 0 0;
    width: 355px;
    position: relative;
    margin: 0px 0px;
    padding: 20px 68px 20px 5px;
    color: #4c4d49 !important;
    font-size: 29px;
    font-weight: bold;
    line-height: 30px;
  }
  .sign-up .card-body {
    padding-bottom: 48px;
    margin-top: 19px;
}


// .product-todays-special {
//     height: 400px;
//     overflow-y: scroll;
// }
// responsive-css
//  Large Devices, Wide Screens 
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1199px) {}

// / Medium Devices, Desktops /
@media only screen and (max-width: 992px) {
  .lady-banner {
    background-size: cover;
  }

  .body-banner .inner-search {
    padding: 13px 12px 1px;
  }

  .width100 .input-group-text {
    font-size: 12px;
    width: 57px;
    padding: 0 49px 0 9px;
  }

  .rounded-pill input {
    border-radius: 50px;
    height: 39px;
  }

  .input-group.search-input {
    width: 67%;
  }

  .inner-search .logo-small {
    width: 140px;
    margin-top: 0px;
    position: absolute;
    right:22px;
    top: 13px;
  }

  .favbtn,
  .favbtn-repeat-order {
    position: relative;
    margin-top: 5px
  }

  .order-section,
  .order-section2 .bg-info {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {}

// / Small Devices, Tablets /
@media only screen and (max-width: 768px) {
  .download-app {
    padding: 9px 21px;
    font-size: 13px;
    height: 37px;
    bottom: 0;
  }

  .contact-btn {
    padding: 9px 21px;
    font-size: 13px;
    bottom: 0;
    height: 37px;
  }
}

@media only screen and (max-width: 767px) {}

// / Extra Small Devices, Phones / 
@media only screen and (max-width: 480px) {
  .item-box-blog {
    width: 50%;
    margin: 9px auto;
  }

  .product-section li {
    width: 100%;
  }

  .product-section li h3 {
    font-size: 23px;
  }

  .btn-sce .btn-start {
    right: 9px;
    top: 12%;
    width: 32%;
  }

  .daily-deal .logo-small {
    float: left;
    margin-right: 0;
  }

  .lady-image {
    min-height: 483px;
  }

  .pading-top-sec {
    margin-top: 42%;
  }
  .pading-top-sec2 {
    margin-top: 4%;
  }


  .guestimg {
    width: 70px;
    height: 70px;
  }

  .guestimg img {
    width: 40px;
    height: 40px;
  }

  .submit-review-right {
    width: 103px;
    font-size: 11px;
    padding: 6px 7px;
  }

  .top-45 {}

  .top-52 {
    top: 258px;
  }

  .top-59 {
    top: 294px;
  }

  .top-66 {
    top: 329px;
  }

  .top-73 {
    top: 364px;
  }

  .top-80 {
    top: 400px;
  }

  .download-app {
    top: 88%;
    width: 50%;
    text-align: center;
    border-radius: 0;
  }

  .contact-btn {
    width: 50%;
    left: 50%;
    top: 88%;
    border-radius: 0;
    text-align: center;
  }

  .order-history h2 {
    text-align: center;
  }

  .order-history .ptext {
    text-align: center;
  }

  .order-history h4 {
    text-align: center;
  }

  .favbtn {
    position: relative;
  }

  .card-box .veg {
    bottom: -87px;
    font-size: 12px;
    padding: 7px 13px;
  }

  .card-box .sold {
    bottom: -87px;
    font-size: 12px;
    padding: 7px 13px;
  }

  .card-box .limited {
    bottom: -87px;
    font-size: 12px;
    padding: 7px 13px;
  }
}

@media only screen and (max-width: 479px) {}

// / Custom, iPhone Retina / 
@media only screen and (max-width: 320px) {}