<app-header></app-header>
<div class="body-banner">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 "><img class="img-fluid logo-small" src="images/logo.png" alt="">
        <div class="row">
          <div class="col-md-12 pading-top-sec">
            <div class="row">
              <div class="col-md-4">
                <app-sidebar-userdetails></app-sidebar-userdetails>
                <table class="table table-bordered text-center">
                  <tbody>
                    <tr>
                      <td>Bag Value: ₹ {{total_item_price}}</td>
                    </tr>
                    <tr>
                      <td>Savings : {{total_market_saving}}</td>
                    </tr>
                    <tr>
                      <td>Items :{{customer_cart_data.length}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <div class="col-md-4">
                <div class="order-history">
                  <h3>Delivery Address</h3>

                  <div class="clearfix"></div>
                  <mat-card *ngFor="let myAddress of allAddressList; let i = index" (click)="checkAvailability(i,myAddress.id,myAddress.pincode,myAddress)">
                    <mat-list role="list">
                      <mat-list-item role="listitem">
                        <span>Saved Address : </span> <span class="address-type">{{myAddress.type}}</span>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <p>{{myAddress.address}} ,{{myAddress.landmark}} {{myAddress.pincode}}</p>
                      </mat-list-item>
                      <a href="javascript:void(0);" (click)="checkAvailability(i,myAddress.id,myAddress.pincode,myAddress)" class="btn btn-primary  bg-info text-dark border-radius">Select
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <p class="error-msg" *ngIf="isAvailable===0 && isActive ==i">Currently out of stock in this area.</p>
                    </mat-list>
                  </mat-card>

                </div>
              </div>
              <div class="col-md-4">
                <div class="order-history">
                  <mat-card>
                    <mat-list-item role="listitem">
                      <a>Check Availability</a>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <form [formGroup]="pinCheckForm" novalidate>
                        <div class="form-group">
                          <div class="input-group mb-2 rounded-pill">
                            <div class="input-group-prepend  width100 ">
                              <div class="input-group-text bg-info text-dark"> Pin Code</div>
                            </div>
                            <input type="text" class="form-control" name="pincheck" placeholder="Pin Code" formControlName="pincheck"
                              [ngClass]="displayFieldCss(pinCheckForm,'pincheck')" required>
                            <div class="invalid-feedback text-left" *ngIf="isFieldValid(pinCheckForm,'pincheck')">
                              Please enter Pincode
                            </div>
                          </div>
                        </div>


                        <a href="javascript:void(0);" (click)="checkPinCode()" class="btn btn-primary  bg-info text-dark border-radius">Submit
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                      </form>
                      <p class="error-msg" *ngIf="isAvailablePin===0">Currently out of stock in this area.</p>
                      <p class="success-msg" *ngIf="isAvailablePin>0">Currently available in this area.</p>
                    </mat-list-item>
                  </mat-card>

                  <mat-card>
                      <mat-list-item role="listitem">
                        <a>New Address</a>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <form [formGroup]="addressForm" novalidate>
                          <div class="form-group">
                            <div class="input-group mb-2 rounded-pill">
                              <div class="input-group-prepend  width100 ">
                                <div class="input-group-text bg-info text-dark"> Type</div>
                              </div>
                              <input type="text" class="form-control" name="type" placeholder="Home / Office" formControlName="type"
                                [ngClass]="displayFieldCss(addressForm,'type')" required>
                              <div class="invalid-feedback text-left" *ngIf="isFieldValid(addressForm,'type')">
                                Please enter Type
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group mb-2 rounded-pill">
                                <div class="input-group-prepend  width100 ">
                                  <div class="input-group-text bg-info text-dark"> Address</div>
                                </div>
                                <input type="text" class="form-control" name="address" placeholder="Address" formControlName="address"
                                  [ngClass]="displayFieldCss(addressForm,'address')" required>
                                <div class="invalid-feedback text-left" *ngIf="isFieldValid(addressForm,'address')">
                                  Please enter Address
                                </div>
                              </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group mb-2 rounded-pill">
                                  <div class="input-group-prepend  width100 ">
                                    <div class="input-group-text bg-info text-dark">Land Mark</div>
                                  </div>
                                  <input type="text" class="form-control" name="landmark" placeholder="Land Mark" formControlName="landmark"
                                    [ngClass]="displayFieldCss(addressForm,'landmark')" required>
                                  <div class="invalid-feedback text-left" *ngIf="isFieldValid(addressForm,'landmark')">
                                    Please enter Land Mark
                                  </div>
                                </div>
                              </div>

                              <div class="form-group">
                                  <div class="input-group mb-2 rounded-pill">
                                    <div class="input-group-prepend  width100 ">
                                      <div class="input-group-text bg-info text-dark"> Pin Code</div>
                                    </div>
                                    <input type="text" class="form-control" name="pincode" placeholder="Pin Code" formControlName="pincode"
                                      [ngClass]="displayFieldCss(addressForm,'pincode')" required>
                                    <div class="invalid-feedback text-left" *ngIf="isFieldValid(addressForm,'pincode')">
                                      Please enter Pin Code
                                    </div>
                                  </div>
                                </div>
  
  
                          <a href="javascript:void(0);" (click)="submitAddress()" class="btn btn-primary  bg-info text-dark border-radius">Submit
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                          </a>
                        </form>
                        <p class="error-msg" *ngIf="isAvailablePin===0">Currently out of stock in this area.</p>
                        <p class="success-msg" *ngIf="isAvailablePin>0">Currently available in this area.</p>
                      </mat-list-item>
                    </mat-card>

                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>