<app-header></app-header>
<div class="body-banner">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 "> <img class="img-fluid logo-small" src="images/logo.png" alt="">
        <div class="pt-5">
          <div class="emp-profile">
            <form method="post">
              <div class="row">
                <div class="col-md-4">
                    <app-user-sidebar></app-user-sidebar>
                </div>
                <div class="col-md-8">
                  <form class="form"  [formGroup]="updateProfileForm" id="registrationForm">
                    <div class="row">
                      <div class="col-md-6 pt-1"> <label for="first_name">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="profileDetails.name" name="name" placeholder="Name"
                        formControlName="name"
                        [ngClass]="displayFieldCss(updateProfileForm,'name')" required>
                        <div class="invalid-feedback text-left" *ngIf="isFieldValid(updateProfileForm,'name')">
                            Please enter name
                          </div>
                      </div>
                      <div class="col-md-6 pt-1"> <label for="first_name">Email</label>
                        <input type="text" class="form-control" [(ngModel)]="profileDetails.email" name="email" placeholder="Email" formControlName="email"
                        [ngClass]="displayFieldCss(updateProfileForm,'email')" required>
                        <div class="invalid-feedback text-left" *ngIf="updateProfileForm.controls['email'].hasError('pattern') && !updateProfileForm.controls['email'].hasError('required')">
                            Please enter a valid email address
                          </div>
                          <div class="invalid-feedback text-left" *ngIf="updateProfileForm.controls['email'].hasError('required')">
                            Email is required
                          </div>
                      </div>
                      <div class="col-md-6 pt-1"> <label for="first_name">Contact Number</label>
                        <input type="text" class="form-control" [(ngModel)]="profileDetails.contact"  name="contact" placeholder="Mobile Number"
                        formControlName="contact"
                        [ngClass]="displayFieldCss(updateProfileForm,'contact')" required>
                        <div class="invalid-feedback text-left" *ngIf="isFieldValid(updateProfileForm,'contact')">
                            Please enter Contact Number
                          </div>
                      </div>
                      <!-- <div class="col-md-6 pt-1"> <label for="first_name">First name</label> <select id="select" name="select"
                          class="custom-select">
                          <option value="admin">Admin</option>
                          <option value="admin">Admin1</option>
                          <option value="admin">Admin2</option>
                          <option value="admin">Admin3</option>
                        </select> </div> -->
                      <div class="col-md-12"> <br><button class="btn btn-lg btn-success" type="submit" (click)="updateProfile()"><i class="glyphicon glyphicon-ok-sign"></i>
                          Save</button> </div>
                    </div>
                  </form>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
