<app-header></app-header>
<div class="body-banner">
  <div class="inner-search">
    <!-- <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <div class="input-group mb-2 rounded-pill search-input">
                    <div class="input-group-prepend  width100 ">
                        <div style="cursor:pointer;" class="input-group-text bg-info text-dark" (click)="recipeSearch(searchText)">Search </div>
                    </div>
                    <input type="text" [(ngModel)]="searchText" class="form-control" id="nombre" name="nombre" placeholder="Search Recipe" required>
                </div>
               
            </div>
        </div> -->
    <div class="row">
      <div class="col-md-3">
        <p>Ethenicity</p>
        <select  class="form-control" [(ngModel)]="selectedLanguage" name="language">
          <option>Bengali </option>
          <option> Hindi</option>
          <option>English</option>
        </select>
      </div>
      <div class="col-md-3">
        <p>Habbit</p>
        <select  class="form-control" [(ngModel)]="selectedHabbit" name="habbit">
          <option value="veg">Veg</option>
          <option value="nonveg">Non Veg</option>
        </select>
      </div>
      <div class="col-md-3">
        <p>Cooking Time</p>
        <select  class="form-control" [(ngModel)]="selectedTime" name="time">
          <option value='0'>Quick Bite</option>
          <option value='1'>10 min - 20 min</option>
          <option value='2'>More than 20 min</option>
        </select>
      </div>
      <div class="col-md-3">
          <p></p>
            <a href="javascript:void(0);" (click)="filterRecipe()" class="btn btn-primary  bg-info text-dark border-radius">Search Recipe 
            </a>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-9 offset-md-2">


        <div class="recipe-list">
          <h2>Recipe</h2>
          <div class="row" *ngIf="visible">
            <div class="col-md-4" *ngFor="let recipeList of proRecipeList; let i = index">
              <div class="card-box" (click)="gotoDetails(recipeList.id)">
                <div class="row">
                  <div class="col-md-5">
                    <span>{{recipeList.blog_title}}</span>
                    <a class="veg" href="javascript:void(0)"
                      *ngIf="recipeList.recipe_type =='veg'">{{recipeList.recipe_type}}</a>
                    <a class="sold" href="javascript:void(0)"
                      *ngIf="recipeList.recipe_type !='veg'">{{recipeList.recipe_type}}</a>
                  </div>
                  <div class="col-md-7 img-btm">

                    <div class="rate" *ngIf="recipeList.average_rating==null" style="padding-left: 10px;">
                      <span class="rating" *ngFor="let rat of rating; let i = index"
                        [ngClass]="[i <= 0 - 1 ? 'active' : '']" style="margin-right: 2px;">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="rate" *ngIf="recipeList.average_rating!=null" style="padding-left: 10px;">

                      <span class="rating" *ngFor="let rat of rating; let i = index"
                        [ngClass]="[i <= recipeList.average_rating.averagerating - 1 ? 'active' : '']"
                        style="margin-right: 2px;">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </span>
                    </div>
                    <img class="img-fluid"
                      [src]="recipeList.blog_small_image != ''? imageBaseUrl+ recipeList.blog_small_image : 'assets/imgs/no-image.png'">

                    <a class="price"
                      href="javascript:void(0);"><span>Cooking</span><span>{{recipeList.cooking_time}}</span></a>
                    <a class="language" href="javascript:void(0);">{{recipeList.recipe_language}}</a>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-3" class="error-msg" *ngIf="proRecipeList.length==0"><span>No recors found</span></div>
          </div>
          <div class="card-body pull-right" *ngIf="recipeListCount > itemPerPage && isPagination ==1">
            <ngb-pagination [collectionSize]="recipeListCount" [maxSize]="paginationMaxSize"
              [(page)]="defaultPagination" (pageChange)="pagination()" size="sm"></ngb-pagination>
          </div>
        </div>

      </div>
    </div>
  </div>
  <app-sidebar-button></app-sidebar-button>

  <app-sidebar-menu></app-sidebar-menu>
  <app-sidebar-button></app-sidebar-button>

</div>