<div class="col-md-12  bg-derk">
  <div class="row">
    <ul class="market-scrool">
      <marquee>
        <li class="red"><a href="javascript:void(0);">Onion Rs 24/ Kg <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </a></li>
        <li class="green"><a href="javascript:void(0);">Potato Rs 19/ Kg <i class="fa fa-sort-asc"
              aria-hidden="true"></i></a></li>
        <li class="yellow"><a href="javascript:void(0);">Potato Rs 19/ Kg <i class="fa fa-sort"
              aria-hidden="true"></i></a></li>
        <li class="red"><a href="javascript:void(0);">Onion Rs 24/ Kg <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </a></li>
        <li class="green"><a href="javascript:void(0);">Potato Rs 19/ Kg <i class="fa fa-sort-asc"
              aria-hidden="true"></i></a></li>
        <li class="yellow"><a href="javascript:void(0);">Potato Rs 19/ Kg <i class="fa fa-sort"
              aria-hidden="true"></i></a></li>
        <li class="red"><a href="javascript:void(0);">Onion Rs 24/ Kg <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </a></li>
        <li class="green"><a href="javascript:void(0);">Potato Rs 19/ Kg <i class="fa fa-sort-asc"
              aria-hidden="true"></i></a></li>
        <li class="yellow"><a href="javascript:void(0);">Potato Rs 19/ Kg <i class="fa fa-sort"
              aria-hidden="true"></i></a></li>
        <li class="red"><a href="javascript:void(0);">Onion Rs 24/ Kg <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </a></li>
        <li class="green"><a href="javascript:void(0);">Potato Rs 19/ Kg <i class="fa fa-sort-asc"
              aria-hidden="true"></i></a></li>
        <li class="yellow"><a href="javascript:void(0);">Potato Rs 19/ Kg <i class="fa fa-sort"
              aria-hidden="true"></i></a></li>
      </marquee>
    </ul>
  </div>
</div>
<div class="body-banner">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-5 lady-image">
      </div>
      <div class="col-md-7 logo-sec d-flex align-items-center">
        <div class="welcome-sec">
          <h2>Welcome</h2>
          <img class="img-fluid" src="assets/img/logo.png" alt="">
        </div>
      </div>

    </div>
  </div>
  <a class="fixed-button" [routerLink]="['/category']" href="JavaScript:Void(0);">Continue</a>
</div>