<div class="inner-search search-custom">
    <div class="col-md-6 offset-md-3">
        <div class="form-group">
            <div class="input-group mb-2 rounded-pill search-input">
                <div class="input-group-prepend  width100 ">
                    <div class="input-group-text bg-info text-dark pro-search" style="cursor: default;">Search</div>
                </div>
                <input type="text" [(ngModel)]="searchText" class="form-control" id="nombre" name="nombre" placeholder="Type Keyword" required>
            </div>
            <a class="resend-btn subscribe text-dark" href="javascript:void(0);" (click)="proSearch(searchText)">Subscribe</a>

        </div>
    </div>
    <a [routerLink]="['/home']"> <img class="img-fluid logo-small" src="assets/img/logo.png" alt=""></a>
</div>