<app-header></app-header>
<div class="body-banner">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 ">
        <div class="row">
          <div class="col-md-12 pt-20">
              <div class="inner-page">   
            <div class="row">
              <div class="col-md-4">
                <!-- <app-sidebar-userdetails></app-sidebar-userdetails> -->
                <div class="order-history order-history-2">
                  <table class="table table-bordered text-center ">
                    <tbody>
                      <tr>
                        <td>Bag Value : ₹ {{total_item_price}}</td>
                      </tr>
                      <tr>
                        <td>Savings : ₹ {{total_market_saving}}</td>
                      </tr>
                      <tr>
                        <td>Items : ₹ {{customer_cart_data.length}}</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-4">
                <div class="order-history order-history2">
                  <div class="clearfix"></div>
                  <mat-card class="mb-5"  >
                    <h5>Delivery Slot</h5>
                    <div class="clearfix"></div>
                    <mat-list role="list" class="mat-list-base2" *ngFor="let delivery of deliverySlot">
                      <mat-list-item role="listitem"><div class="text1">{{delivery.deliver_slot}}<br>
                      <p>Delivery Charge : Rs. {{delivery.deliver_charge}}</p></div>
                    </mat-list-item>
                    <a href="javascript:void(0);" (click)="gotoPayMode(delivery)" class="btn btn2 btn-primary  bg-info text-dark border-radius">Submit
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </a>
                    </mat-list>                  
                  </mat-card>
                </div>
              </div>
              <div class="col-md-4">
                <div class="order-history order-history2" *ngIf="isShowPayMode ==2">
                  
                  <div class="clearfix"></div>
                  <mat-card >
                      <h5>Payment Mode</h5><br>
                    <mat-list role="list">
                      <!-- <mat-list-item role="listitem">Paytm </mat-list-item> -->
                      <mat-list-item role="listitem"><h5><span>COD</span></h5></mat-list-item>
                    </mat-list>
                    <a href="javascript:void(0);" (click)="placeOrder(2)" class="btn btn2 btn-primary  bg-info text-dark border-radius">Submit
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </a>
                  </mat-card>

                </div>
              </div>


            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>