<app-header></app-header>
<div class="body-banner">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-5 btn-sce">
        <a href="javascript:void(0);" class="btn-start">
          <img class="img-fluid" src="assets/img/shopping-button.png" alt=""> </a>
        <img class="img-fluid full-lady" src="assets/img/girl.png" alt="">
      </div>
      <div class="col-md-7 ">
        <img class="img-fluid logo-small" src="assets/img/logo.png" alt="">
      </div>
    </div>
  </div>
  <!-- Sidebar button Download and contact us -->
  <app-sidebar-button></app-sidebar-button>
  <div class="inner-page">
    <div class="col-md-12">
      <div class="row">

        <div class="card text-center  card-body-full">
          <div class="card-header bg-info text-dark">
            <strong> Forgot Password </strong>
          </div>
          <div class="card-body" *ngIf="isShow ==0">
            <form [formGroup]="forgotForm" novalidate>
              <div class="form-group">
                <div class="input-group mb-2 rounded-pill">
                  <div class="input-group-prepend width100">
                    <div class="input-group-text bg-info text-dark">User Id</div>
                  </div>
                  <input type="text" class="form-control" name="contact_or_email" placeholder="Mobile Number or Email"
                    formControlName="contact_or_email" [ngClass]="displayFieldCss(forgotForm,'contact_or_email')"
                    required>
                  <div class="invalid-feedback text-left" *ngIf="isFieldValid(forgotForm,'contact_or_email')">
                    Please enter Contact Number or Mobile Number
                  </div>
                </div>
              </div>
              <a href="javascript:void(0);" (click)="resetPassword()"
                class="btn btn-primary  bg-info text-dark border-radius">Submit <i class="fa fa-angle-right"
                  aria-hidden="true"></i>
              </a>
            </form>
          </div>

          <div class="card-body" *ngIf="isShow ==1">
            <form [formGroup]="otpForm" novalidate>
              <div class="form-group">
                <div class="input-group mb-2 rounded-pill">
                  <div class="input-group-prepend width100">
                    <div class="input-group-text bg-info text-dark">OTP</div>
                  </div>
                  <input type="text" class="form-control" name="otp" placeholder="OTP" formControlName="otp"
                    [ngClass]="displayFieldCss(otpForm,'otp')" required>
                  <div class="invalid-feedback text-left" *ngIf="isFieldValid(otpForm,'otp')">
                    Please enter Contact Number or Mobile Number
                  </div>
                </div>
              </div>
              <a href="javascript:void(0);" (click)="matchOtp()"
                class="btn btn-primary  bg-info text-dark border-radius">Submit <i class="fa fa-angle-right"
                  aria-hidden="true"></i>
              </a>
            </form>
          </div>

          <div class="card-body" *ngIf="isShow ==2">
            <form [formGroup]="newPasswordForm" novalidate>
              <div class="form-group">
                <div class="input-group mb-2 rounded-pill">
                  <div class="input-group-prepend width100">
                    <div class="input-group-text bg-info text-dark">New Password</div>
                  </div>
                  <input type="password" class="form-control" name="newpass" placeholder="New Password" formControlName="newpass"
                    [ngClass]="displayFieldCss(newPasswordForm,'newpass')" required>
                  <div class="invalid-feedback text-left" *ngIf="isFieldValid(newPasswordForm,'newpass')">
                    Please enter New Password
                  </div>
                </div>
              </div>
              <div class="form-group">
                  <div class="input-group mb-2 rounded-pill">
                    <div class="input-group-prepend width100">
                      <div class="input-group-text bg-info text-dark">Confirm Password</div>
                    </div>
                    <input type="password" class="form-control" name="confpass" placeholder="New Password" formControlName="confpass"
                      [ngClass]="displayFieldCss(newPasswordForm,'confpass')" required>
                    <div class="invalid-feedback text-left" *ngIf="isFieldValid(newPasswordForm,'confpass')">
                      Please enter New Password
                    </div>
                  </div>
                </div>
              <a href="javascript:void(0);" (click)="updatePassword()"
                class="btn btn-primary  bg-info text-dark border-radius">Submit <i class="fa fa-angle-right"
                  aria-hidden="true"></i>
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>