<app-header></app-header>
<div class="body-banner body-banner-2 bg-light bg-header-white">
    <app-search-bar></app-search-bar>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 ">

                <div class="row">
                    <div class="col-md-10 ">
                        <div class="row">
                            <div class="col-md-4">
                                <app-sidebar-userdetails></app-sidebar-userdetails>
                            </div>
                            <div class="col-md-8  justify-content-center">
                                <div class="shopping-user">
                                    <div (click)="gotoPage('todayspecial');" class="shop-box">
                                        <h3>Today’s Special</h3>
                                    </div>
                                    <div (click)="gotoPage('category');" class="shop-box">
                                        <h3>Ala Carte</h3>
                                    </div>
                                    <div *ngIf="userId !=0" (click)="gotoPage('order');" class="shop-box">
                                        <h3>Repeat Order</h3>
                                    </div>
                                    <div *ngIf="userId ==0" (click)="gotoPage('home');" class="shop-box">
                                            <h3>Repeat Order</h3>
                                        </div>

                                    
                                    <div (click)="gotoPage('combooffer');" class="shop-box">
                                        <h3>Combo Offers</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="download-app" href="https://play.google.com/store?hl=en">Download App</a>
    <a class="contact-btn" [routerLink]="['/contactus']" href="javascript:void(0);">Contact Us</a>
    <!-- <app-sidebar-button></app-sidebar-button> -->

    <app-sidebar-menu></app-sidebar-menu>
</div>