<app-header></app-header>
<div class="chart-show-monthly chart-page">
    <h4>Current Month Spending Pattern: </h4>
<div class="chart-show" style="display: block; width:600px; height:300px">
  <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
    [colors]="doughnutChartColors">
  </canvas>
</div>

<div class="chart-show-monthly">
  <h4>Monthly Spending Pattern: </h4>
  
  <select class="form-control" [ngModel]="month" (ngModelChange)="selectMonth($event)" name="month">
      <option [value]="null">Select Month</option>
    <option *ngFor="let month of monthList" [value]="month.id">
      {{month.name}}
    </option>
  </select>
  <div style="display: block; width:600px; height:300px">
    <canvas baseChart [data]="doughnutChartDataMonthly" [labels]="doughnutChartLabelsMonthly"
      [chartType]="doughnutChartType" [colors]="doughnutChartColors">
    </canvas>
  </div>

</div>
</div>
