<app-header></app-header>
<div class="body-banner">
  <div class="col-md-12">
    <div class="row">

      <div class="col-md-5 btn-sce">



        <img class="img-fluid full-lady" src="assets/img/girl.png" alt="">

      </div>

      <div class="col-md-7 ">

        <img class="img-fluid logo-small" src="assets/img/logo.png" alt="">

        <div class="product-section">
          <div class="recipe-sec">

            <div class="row">

              <div class="col-md-3">

                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>


              </div>

              <div class="col-md-6">

                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                    <!--Data-->



                    <!--Read More Button-->
                  </div>
                </div>


              </div>

              <div class="col-md-3">

                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>


              </div>
            </div>

          </div>

          <div class="recipe-of-month">

            <span> Theme of the month: Dessert</span>


            <div class="row">
              <div class="col-md-3">
                <figure> <img class="img-fluid" src="assets/img/recipes.jpg" alt="Denim Jeans">

                  <h2>Chocolate Custard</h2>
                </figure>

              </div>
              <div class="col-md-3">
                <figure> <img class="img-fluid" src="assets/img/recipes.jpg" alt="Denim Jeans">

                  <h2>Chocolate Custard</h2>
                </figure>

              </div>
              <div class="col-md-3">
                <figure> <img class="img-fluid" src="assets/img/recipes.jpg" alt="Denim Jeans">

                  <h2>Chocolate Custard</h2>
                </figure>

              </div>
              <div class="col-md-3">
                <figure> <img class="img-fluid" src="assets/img/recipes.jpg" alt="Denim Jeans">

                  <h2>Chocolate Custard</h2>
                </figure>

              </div>
            </div>


          </div>


          <div class="recipe-sec magin-top150">

            <div class="row">

              <div class="col-md-3">
                <h2>Latest</h2>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>

                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-md-6">
                <h2>Food</h2>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                    <!--Data-->



                    <!--Read More Button-->
                  </div>
                </div>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                    <!--Data-->



                    <!--Read More Button-->
                  </div>
                </div>

                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                    <!--Data-->



                    <!--Read More Button-->
                  </div>
                </div>

                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                    <!--Data-->



                    <!--Read More Button-->
                  </div>
                </div>



              </div>

              <div class="col-md-3">
                <h2>Nutrition</h2>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>

                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Ajoy Dixit</span> </div>
                    <!--Image-->
                    <figure> <img src="assets/img/recipes.jpg" alt="Denim Jeans"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a href="javascript:void(0);" tabindex="0">
                        25 unconventional chicken
                        Recipes
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="download-app" href="javascript:void(0);">Download App</a>
  <a class="contact-btn" href="javascript:void(0);">Contact Us</a>

  <div class="inner-search">
    <div class="col-md-6 offset-md-3">
      <div class="form-group">
        <div class="input-group mb-2 rounded-pill search-input">
          <div class="input-group-prepend  width100 ">
            <div class="input-group-text bg-info text-dark">Search </div>
          </div>
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Search Product" required>
        </div>
        <a class="resend-btn subscribe text-dark" href="javascript:void(0);">Subscribe</a>
      </div>
    </div>
  </div>
</div>