<app-header></app-header>
<div class="body-banner cat2-body-banner bg-light">
  <div class="background-images">
    <!-- <app-search-bar></app-search-bar> -->
    <div class="inner-search inner-search22 search-custom">
        <div class="row">
        <div class="col-md-3"><div class="topsear">
          <div class="topsear-img"><img class="img-fluid" style="cursor:pointer;" src="http://166.62.54.122/mamamo/mach_mangso_more/uploads/product_images/image_small/large1559721028download_thumb.jpg"></div> 
          <h2>Vegetables</h2></div> </div>
        <div class="col-md-6 offset-md-0">
            <div class="form-group">
                <div class="input-group mb-2 rounded-pill search-input">
                    <div class="input-group-prepend  width100 ">
                        <div class="input-group-text bg-info text-dark pro-search" (click)="proSearch(searchText)">Search</div>
                    </div>
                    <input type="text" [(ngModel)]="searchText" class="form-control" id="nombre" name="nombre" placeholder="Type Keyword" required>
                </div>
                <a class="resend-btn subscribe text-dark" href="javascript:void(0);">Subscribe</a>
    
            </div>
        </div>
        <a href="#"> <img class="img-fluid logo-small" src="assets/img/logo.png" alt=""></a>
        </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3 pro-user">
                <app-sidebar-userdetails></app-sidebar-userdetails>
              </div>
      <div class="col-md-8 offset-md-0">
        <div class="shopping-veg">
          <h2>{{catName}}</h2>
          <div class="row margin-top2" *ngIf="visible">

            <div class="col-md-4 pro-box" *ngFor="let product of allProductList">
              <div class="card-box">
                <div class="row">
                  <div class="col-md-4">
                    <span>{{product.name}}</span>
                    <a class="veg" *ngIf="product.product_stock > 5" href="javascript:void(0);">Available</a>
                    <a class="limited" *ngIf="product.product_stock > 0 && product.product_stock < 6"
                      href="javascript:void(0);">Limited</a>
                    <a class="sold" *ngIf="product.product_stock < 1" href="javascript:void(0);">Sold Out</a>
                  </div>
                  <div class="col-md-8 img-btm">
                    <div class="stock-price-change">

                      <button (click)="gotoPriceTrend(product.id)" class="price-trend-up"
                        *ngIf="product.price_status==1">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                      </button>
                      <button (click)="gotoPriceTrend(product.id)" class="price-trend-down"
                        *ngIf="product.price_status==2">
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                      </button>
                      <button (click)="gotoPriceTrend(product.id)" class="price-trend-same"
                        *ngIf="product.price_status==3">
                        <i class="fa fa-arrows-h" aria-hidden="true"></i>
                    </button>
                    </div>
                    <div class="heart-wishlist">

                      <i class="fa fa-heart not-favrate" *ngIf="product.whishlist == null && this.userId>0"
                        aria-hidden="true" (click)="addWishList(product.id)"></i>
                      <i class="fa fa-heart not-favrate" *ngIf="product.whishlist == null && !this.userId"
                        aria-hidden="true" (click)="gotoPage()"></i>
                      <i class="fa fa-heart not-favrate favrate" *ngIf="product.whishlist != null"
                        aria-hidden="true"></i>
                    </div>
                    <img style="cursor:pointer;" (click)="gotoProductDetails(product.id);" class="img-fluid"
                      [src]="product.image_small != ''? imageBaseUrl+ product.image_small : 'assets/imgs/no-image.png'">
                    <a class="price" href="javascript:void(0);"><span>{{product.market_price}} /
                        {{product.quantity_count}} {{product.unit}}</span><span> Price</span></a>
                    <a class="language" href="javascript:void(0);"><span>{{product.price}} /
                        {{product.quantity_count}} {{product.unit}}</span><span> Our Price</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" class="error-msg" *ngIf="allProductList.length==0"><span>No recors found</span></div>

          </div>
          <div class="card-body pull-right" *ngIf="productListCount > itemPerPage && isPagination ==1">
            <ngb-pagination [collectionSize]="productListCount" [maxSize]="paginationMaxSize"
              [(page)]="defaultPagination" (pageChange)="pagination()" size="sm"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-sidebar-button></app-sidebar-button>

  <app-sidebar-menu></app-sidebar-menu>
</div>