<app-header></app-header>
<div class="body-banner">
  <div class="col-md-12">
    <div class="row">

      <div class="col-md-5 btn-sce">

        <a href="javascript:void(0);" class="btn-start">
          <img class="img-fluid" src="assets/img/shopping-button.png" alt=""> </a>

        <img class="img-fluid full-lady" src="assets/img/girl.png" alt="">

      </div>

      <div class="col-md-7 ">

        <img class="img-fluid logo-small" src="assets/img/logo.png" alt="">
        <div class="daily-deal">
          <h2>Deals of the day</h2>
          <ul class="product-section">
            <li class="d-flex align-items-center">
              <div class="product-img">
                <img src="assets/img/alu.png" alt="">
              </div>
              <h3>Potato <br>5Kg @ RS 90</h3>
            </li>
            <li class="d-flex align-items-center">
              <div class="product-img">
                <img src="assets/img/alu.png" alt="">
              </div>
              <h3>Potato <br>5Kg @ RS 90</h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a class="download-app" href="javascript:void(0);">Download App</a>
  <a class="contact-btn" href="javascript:void(0);">Contact Us</a>

</div>