<app-header></app-header>
<div class="body-banner">
  <div class="col-md-12">
    <div class="row">
      <!-- <div class="col-md-12 "> <img class="img-fluid logo-small" src="images/logo.png" alt="">
                <div class="product-details">
                    <div class="image-details">
                        <div class="container">
                            <h2>Roasted Brinjal</h2> <img class="img-fluid" src="assets/img/lntersection.png" alt=""></div>
                    </div>
                </div>
            </div> -->
      <div class="bg-light text-primary details-text">
        <div class="container">
          <div class="row">

              <div class="col-md-8 offset-md-2 bg-info pt-3 pb-3">
                  <mat-card>
                      <div class="date-sec">
                       <div class="profile_box">
                         <div class="proimg"><img _ngcontent-c11="" class="img-fluid" src="http://166.62.54.122/mamamo/mach_mangso_more/uploads/blog_images/_thumb/large1550655829vegetables_thumb.jpg"></div>
                         <div class="profile_text1">
                            <p>User ID: MMM000001</p>
                            <h2>Deb</h2>
                            <h4>Date 22-05-2019</h4>
                               
                         </div>
                         <div class="profile_text2"><h2>Value  (<i class="fa fa-inr" aria-hidden="true"></i>)</h2>  <h4>1280</h4></div>
                         <div class="profile_text2"><h2>Items</h2> <h4>4</h4> </div>  
                         <div class="profile_text3"><h2>Order No: MMM 201820199019</h2></div>                                                           
                            </div>

                       <div class="cart_order">
                          <table class="table">
                              <thead>
                                <tr>
                                  <th></th>
                                  <th>Items</th>
                                  <th>Qnty</th>
                                  <th>Rate (<i class="fa fa-inr" aria-hidden="true"></i>)</th>
                                  <th>Amount  (<i class="fa fa-inr" aria-hidden="true"></i>)</th>                                  
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><div class="proimg2"><img _ngcontent-c11="" class="img-fluid" src="http://166.62.54.122/mamamo/mach_mangso_more/uploads/blog_images/_thumb/large1550655829vegetables_thumb.jpg"></div></td>
                                  <td>Potato Jyoti.</td>
                                  <td>10Kg.</td>
                                  <td>18.00</td>
                                  <td>180.00</td>
                                </tr>   
                                <tr>
                                    <td><div class="proimg2"><img _ngcontent-c11="" class="img-fluid" src="http://166.62.54.122/mamamo/mach_mangso_more/uploads/blog_images/_thumb/large1550655829vegetables_thumb.jpg"></div></td>
                                    <td>Potato Jyoti.</td>
                                    <td>10Kg.</td>
                                    <td>18.00</td>
                                    <td>180.00</td>
                                  </tr>                                
                          
                              </tbody>
                            </table>                       
                       </div>

                       <div class="profile_box">                          
                          <div class="profile_text1 profile_text_1">
                             <p>Biller</p>
                             <h2>Mach Mangsho and More</h2>
                             <p>(A unit Of Pubsurv)<br>
                                RAA 6, Raghunathpur VIP Road<br>
                                Kolkata  700059<br></p>

                                <p><span>Payment Mode</span></p>
                                <h2><span>COD</span></h2>
                                
                          </div>
                          <div class="profile_text2 profile_text_2"><h2>Delivery (<i class="fa fa-inr" aria-hidden="true"></i>)</h2>  <h4> 120.00</h4></div>
                          <div class="profile_text2 profile_text_2"><h2>Total (<i class="fa fa-inr" aria-hidden="true"></i>)</h2>  <h4>1400.00</h4></div>                                                                           
                       <div class="order_logo">
                          <a href="#"><img alt="" src="assets/img/logo.png"></a>

                       </div>
                       
                        </div>

                        <a _ngcontent-c16="" class="btn-print text-dark border-radius" href="javascript:void(0);" style="background:#CAF5F8;color:#fff !important;">Print</a>
                        <a _ngcontent-c16="" class="btn-continue text-dark border-radius" href="javascript:void(0);" style="background:#CAF5F8;color:#fff !important;">Continue</a>
                        <a _ngcontent-c16="" class="btn-back text-dark border-radius" href="javascript:void(0);" style="background:#CAF5F8;color:#fff !important;">Back</a>
                      </div>
                  </mat-card>
              </div>





            <div class="col-md-6 offset-md-3 bg-info pt-3 pb-3"  style="display: none;">
              <mat-card>
                <div class="date-sec">
                  <div class="row">
                    <h3 class=" col-md-6 text-left ">NO:{{orderDetails.order_no}}</h3>
                    <h3 class="col-md-6 text-right ">Date: {{orderDetails.date_created |
                            date:'MMM d, y'}} </h3>
                  </div>
                </div>
                <table id="customers">
                  <tr>
                    <th>Payment Status</th>
                    <th>Payment Mode</th>
                    <th>Grand Total</th>
                  </tr>
                  <tr>
                    <td>
                      <p *ngIf="orderDetails.is_paid==0">Pending</p>
                      <p *ngIf="orderDetails.is_paid==1">Paid</p>
                      <p *ngIf="orderDetails.is_paid==2">Cancel</p>
                    </td>
                    <td>
                            <p *ngIf="orderDetails.payment_type ==1">Paytm</p>
                            <p *ngIf="orderDetails.payment_type ==2">COD</p>
                    </td>
                    <td>₹ {{orderDetails.total_price}}</td>
                  </tr>
                </table>
              </mat-card>
              <mat-card class="mt-2">
                <table id="customers" class="product-table">
                  <tr *ngFor="let product of productList; let i = index">
                    <td>
                        <!-- <img src="assets/img/lntersection.png" alt=""> -->
                        <img [src]="product.product_image_small != ''? imageBaseUrl+ product.product_image_small: 'assets/imgs/no-image.png'">
                    </td>
                    <td>
                        <p>{{product.product_name}}</p>
                        <p>quantity : {{product.quantity}}</p>
                        <p>price : {{product.total_cost}}</p>
                    </td>
                  </tr>
                </table>
              </mat-card>
              <mat-card class="mt-2">
                <table id="customers">
                  <tr>
                    <th>Delivery Address</th>

                  </tr>
                  <tr>
                    <td>  {{orderDetails.customer_name}}, {{orderDetails.customer_address}}</td>

                  </tr>
                </table>
              </mat-card>
              <mat-card class="mt-2">
                <table id="customers">
                  <tr>
                    <th>Delivery Charge</th>
                    <th>₹ {{orderDetails.deliver_charge}}</th>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>₹ {{orderDetails.total_price}}</td>

                  </tr>
                </table>
              </mat-card>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>