<app-header></app-header>
<div class="body-banner">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 "> <img class="img-fluid logo-small" src="images/logo.png" alt="">
                <div class="product-details">
                    <div class="image-details">
                        <div class="container">
                            <h2>Roasted Brinjal</h2> <img class="img-fluid" src="assets/img/lntersection.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="bg-light text-primary details-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-3 bg-info pt-3 pb-3 ">
                            <mat-card>
                                <div class="date-sec">
                                    <div class="row">
                                        <h3 class=" col-md-6 text-left ">NO:123orefe</h3>
                                        <h3 class="col-md-6 text-right ">Date: Mar 8 / 2019 </h3>
                                    </div>
                                </div>



                                <table id="customers">
                                    <tr>
                                        <th>Payment Status</th>
                                        <th>Payment Mode</th>
                                        <th>Grand Total</th>
                                    </tr>
                                    <tr>
                                        <td>Pending</td>
                                        <td>COD</td>
                                        <td>₹ 231</td>
                                    </tr>




                                </table>
                            </mat-card>

                            <mat-card class="mt-2">




                                <table id="customers" class="product-table">

                                    <tr>
                                        <td><img src="assets/img/lntersection.png" alt=""></td>
                                        <td>COD</td>

                                    </tr>




                                </table>
                            </mat-card>
                            <mat-card class="mt-2">



                                <table id="customers">
                                    <tr>
                                        <th>Delivery Address</th>

                                    </tr>
                                    <tr>
                                        <td>Shyam Towers, EN-32, Salt Lake, Sector-V, Kolkata - 700 091</td>

                                    </tr>




                                </table>
                            </mat-card>
                            <mat-card class="mt-2">



                                <table id="customers">
                                    <tr>
                                        <th>Delivery Charge</th>
                                        <th>₹ 31</th>


                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>₹ 200</td>

                                    </tr>




                                </table>
                            </mat-card>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> <a class="write-review-btn" href="#">Sold Out</a></div>