<app-header></app-header>
<div class="body-banner body-banner22 lady-banner22">
  <app-search-bar></app-search-bar>
  <div class="col-md-12" *ngIf="visibleKey">
    <div class="row">

      <div class="offset-md-3 col-md-7 logo-sec d-flex align-items-center">
        <div class="welcome-sec welcome-sec2">
          <app-sidebar-userdetails></app-sidebar-userdetails>
          <h4>Savings Last Month : {{totalMonthlySum}} <br>
            Total Savings : {{totalQuaterSaving}}<br> </h4>
          <h5>Deals For You </h5>
        </div>

        <div class="welcome-sec">
          <!-- <h2>Welcome</h2> -->
          <div>
            <img style="cursor:pointer" (click)="gotoCategory()" class="img-fluid" src="assets/img/shopping-button.png"
              alt="">
          </div>
          <div>

            <!-- <li [class]="slides[selectedIndex] == slide ? 'active': ''" 
                    *ngFor="let slide of slides">
       <img src="../../assets/images/onboarding/slides/{{slide}}.png" alt="">
     </li> -->
            <ul class="product-section product-todays-special">
              <button class="prev-btn" (click)="previous()" *ngIf="start>0">Previous</button>
              <button class="prev-btn" (click)="previous()" style="visibility:hidden;" *ngIf="start==0"></button>
             
              <li class="d-flex align-items-center" [class]="allProductList[selectedIndex] == product ? 'active': ''"
                *ngFor="let product of allProductList | slice:start:end">
                <div class="heart-wishlist">
                  <!-- <i class="fa fa-heart not-favrate" *ngIf="product.whishlist == null && this.userId>0"
                    aria-hidden="true" (click)="addWishList(product.id)"></i>
                  <i class="fa fa-heart not-favrate" *ngIf="product.whishlist == null && !this.userId"
                    aria-hidden="true" (click)="gotoPage()"></i> -->
                  <i class="fa fa-heart not-favrate favrate" *ngIf="product.whishlist != null" aria-hidden="true"></i>
                </div>

                <div (click)="gotoDetails(product.id)" class="product-img">
                  <img
                    [src]="product.image_small != ''? imageBaseUrl+ product.image_small : 'assets/imgs/no-image.png'">
                </div>
                <h3 (click)="gotoDetails(product.id)">{{product.name}} <br> <i class="fa fa-inr"
                    aria-hidden="true"></i>{{product.price}} / {{product.quantity_count}} {{product.unit}}</h3>

              </li>
              <!-- <li class="d-flex align-items-center">
                <div class="product-img">
                  <img src="assets/img/alu.png" alt="">
                </div>
                <h3>Potato <br>5Kg @ RS 90</h3>
              </li> -->
              <button class="next-btn" *ngIf="!disableNext" (click)="next()">Next</button>
            </ul>

          </div>
        </div>

        <div class="welcome-sec">
          <app-sidebar-menu></app-sidebar-menu>
        </div>
      </div>

    </div>
  </div>
  <app-sidebar-button></app-sidebar-button>

  <app-sidebar-menu></app-sidebar-menu>
</div>
<!--Author_by_Shuvendu_Dhenki(17-feb-2018)-->