<app-header></app-header>
<div class="body-banner lady-banner">
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-6 btn-sce">

                <a href="javascript:void(0);" class="btn-start">
                    <img class="img-fluid" src="assets/img/shopping-button.png" alt=""> </a>


            </div>

            <div class="col-md-6 ">

                <div class="daily-deal">
                    <img class="img-fluid logo-small" src="assets/img/logo.png" alt="">
                    <div class="clearfix"></div>
                    <h2>Ala Carte</h2>
                    <ul class="product-section">
                        <li class="d-flex align-items-center" *ngFor="let product of allProductList">
                            <div class="heart-wishlist">
                                <i class="fa fa-heart not-favrate" *ngIf="product.whishlist == null && this.userId>0" aria-hidden="true" (click)="addWishList(product.id)"></i>
                                <i class="fa fa-heart not-favrate" *ngIf="product.whishlist == null && !this.userId" aria-hidden="true" (click)="gotoPage()"></i>
                                <i class="fa fa-heart not-favrate favrate" *ngIf="product.whishlist != null" aria-hidden="true"></i>
                            </div>
                            <div class="product-img" (click)="gotoProductDetails(product.id)">
                                <img [src]="product.image_small != ''? imageBaseUrl+ product.image_small : 'assets/imgs/no-image.png'">

                            </div>
                            <h3 (click)="gotoProductDetails(product.id)">{{product.name}} <br>
                                <i class="fa fa-inr" aria-hidden="true"></i> {{product.price}} / {{product.quantity_count}} {{product.unit}}</h3>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <app-sidebar-button></app-sidebar-button>

</div>
<!-- <app-header></app-header>
<div class="body-banner bg-light">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 ">
        <img class="img-fluid logo-small" src="images/logo.png" alt="">
        <div class="row">
          <div class="col-md-12 pading-top-sec">
            <div class="row">
              <div class="col-md-3">
                <app-sidebar-userdetails></app-sidebar-userdetails>
              </div>
              <div class="col-md-9">
                <div class="shopping-veg">
                  <h2>Ala Carte</h2>
                  <div class="row">
                    <div class="col-md-4" *ngFor="let product of allProductList">
                      <div class="card-box">
                        <div class="row">
                          <div class="col-md-5">
                            <span>{{product.name}}</span>
                            <a class="veg" *ngIf="product.product_stock > 5" href="#">Available</a>
                            <a class="limited"  *ngIf="product.product_stock > 0 && product.product_stock < 6" href="#">Limited</a>
                            <a class="sold" *ngIf="product.product_stock < 1" href="#">Sold Out</a>
                          </div>
                          <div class="col-md-7 img-btm">
                       
                            <img class="img-fluid" [src]="product.image_small != ''? imageBaseUrl+ product.image_small : 'assets/imgs/no-image.png'">
                            <a class="price" href="#"><span>{{product.market_price}} /
                                {{product.quantity_count}}  {{product.unit}}</span><span> Price</span></a>
                            <a class="language" href="#"><span>{{product.price}} /
                                {{product.quantity_count}}   {{product.unit}}</span><span> Our Price</span></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-sidebar-button></app-sidebar-button>
  <div class="inner-search">
    <div class="col-md-6 offset-md-3">
      <div class="form-group">
        <div class="input-group mb-2 rounded-pill search-input">
          <div class="input-group-prepend  width100 ">
            <div class="input-group-text bg-info text-dark">Search </div>
          </div>
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Search Product" required>
        </div>
        <a class="resend-btn subscribe text-dark" href="#">Subscribe</a>
      </div>
    </div>
  </div>
  <app-sidebar-menu></app-sidebar-menu>
</div> -->